.container-fluid {
  padding: 0 !important;
}

/* body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
} */

.authentication {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 25%;

}
